* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body {
    background-color: black;
    text-align: center;
}

nav {
    width: 60%;
}

button {
    color: black;
    border-radius: 3px;
}

input {
    color: black;
}